<h1>Edit query</h1>

<form id="edit-query" name="query">
  <div class="field">
    <label for="input"> input:</label>
    <input type="text" name="input" id="input" value="<%= input %>" >
  </div>

  <div class="field">
    <label for="result"> result:</label>
    <input type="text" name="result" id="result" value="<%= result %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Query" />
  </div>

</form>

<a href="#/index">Back</a>