<h1>Listing queries</h1>

<table id="queries-table">
  <tr>
    <th>Input <input type="text" class="addressInput" value="nananana" /></th>
    <th> Result <input type="textarea" class="resultInput" value="1, 2, 3, 4, 5" /></th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Query</a>