<h1>Find Local Restaurants</h1>


<table id="queries-table">
  <tr>
    <th>Input</th>
    <th>Amount of Results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Query</a>