<h1>New query</h1>

<form id="new-query" name="query">
  <div class="field">
    <label for="input"> input:</label>
    <input type="text" name="input" id="input" value="<%= input %>" >
  </div>


  <div class="actions">
    <input type="submit" value="Create Query" />
  </div>

</form>

<a href="#/index">Back</a>