<h1>Find Local Restaurants</h1>

<form id="new-query" name="query">
  <div class="field">
    <label for="input"> input:</label>
    <input type="text" name="input" id="input" value="<%= input %>" >
  </div>


  <div class="actions">
    <input type="submit" value="Create Query" />
  </div>

</form>

<table id="queries-table">
  <tr>
    <th>Input</th>
    <th>Amount of Results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Query</a>