<p>
  <b>Input:</b>
  <%= input %>
</p>

<p class="result">
  <h3>Results:</h3>
  <% var resultArr = result.split(","); %>
  <% $.each(resultArr, function(index, value) { %>
  <%= index + 1 %>. <%= value %> <br>

  <% }); %>
</p>


<a href="#/index">Back</a>