<div id="queries"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Localeats.Routers.QueriesRouter({posts: <%= @posts.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>